.checkout-container{
    width:900px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}


.checkout-item{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 1rem;

    img{
        height: 100%;
        width: 300px;
    }
}

.input-container{

    height: 50px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}